:root {
  --primary-bg: oklch(21% 0.006 285.885);
  --secondary-bg: oklch(14.1% 0.005 285.823);
  --border-color: oklch(37% 0.013 285.805);
  --text-color: oklch(96.7% 0.003 264.542);
  --accent-color: oklch(54.6% 0.245 262.881);
  --accent-hover: oklch(39.8% 0.07 227.392);
  --accent-secondary: oklch(50% 0.18 151.711);
  --accent-secondary-hover: oklch(40% 0.18 151.711);
  --danger-color: oklch(63.7% 0.237 25.331);
  --danger-hover: oklch(57.7% 0.245 27.325);
  --button-color: oklch(35% 0.03 264);
  --button-hover: oklch(45% 0.03 264);
  --link-color: oklch(74% 0.238 322.16);
  --link-hover: oklch(70.2% 0.183 293.541);
  --muted-text: oklch(70.5% 0.015 286.067);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  min-height: 100vh;
}

a {
  color: var(--link-color);
  transition: color 0.3s;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  text-decoration: none;
  color: var(--muted-text);
  font-size: 1.3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header {
  border-bottom: 4px solid var(--border-color);
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  color: var(--link-hover);
}

.muted {
  color: var(--muted-text);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

main h1 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}
.files,
.folders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.file,
.folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  border-radius: 3rem;
  transition: background-color 0.3s;
}

.file {
  background-color: var(--accent-color);
}

.folder {
  background-color: var(--accent-secondary);
}

.folder:hover,
.file:hover {
  cursor: pointer;
}

.folder:hover {
  background-color: var(--accent-secondary-hover);
}

.file:hover {
  background-color: var(--accent-hover);
}

.file a,
.folder a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.dropdown {
  position: relative;
  min-width: 24px;
  min-height: 24px;
  background-image: url("/svgs/menu-options.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.file-options,
.folder-options {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.75rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.dropdown:hover .file-options,
.dropdown:hover .folder-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.file-options {
  background-color: var(--accent-hover);
}
.folder-options {
  background-color: var(--accent-secondary-hover);
}

.opts,
.opts-file {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.opts-file {
  justify-content: center;
}

.opts a,
.opts-file a {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}
.button {
  background-color: var(--button-color);
}

.button:hover {
  background-color: var(--button-hover);
}
.delete {
  background-color: var(--danger-color);
}

.delete:hover {
  background-color: var(--danger-hover);
}

.file-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time {
  display: flex;
  gap: 1rem;
}
.errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  list-style: none;
  color: var(--danger-color);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

form button {
  padding: 0.5rem 0.75rem;
  background-color: var(--button-color);
  color: var(--text-color);
  transition: background-color 0.3s;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}

form button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

form input[type="text"],
form input[type="password"] {
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--button-color);
  transition: border 0.3s, transform 0.3s;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  border: 1px solid var(--accent-color);
  transform: scale(1.05);
}

form label {
  font-weight: 700;
  font-size: 1.2rem;
}
.small {
  font-size: 0.5rem;
}

.file-input {
  background-color: var(--secondary-bg);
  padding: 0.25rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  color: var(--muted-text);
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
}

.file-input::file-selector-button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.file-input::file-selector-button:hover {
  background-color: var(--button-hover);
}

.file-input:focus {
  border: 1px solid var(--accent-color);
  transform: scale(1.05);
  outline: none;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 0.5rem;
  }
  .opts,
  .opts-file {
    align-items: center;
    justify-content: center;
    /* just in case the phone is too small...? */
    flex-direction: column;
    /* i was going to go for flex-direction: row initially.. */
  }
}
