:root {
    --primary-bg: oklch(21% 0.006 285.885);
    --secondary-bg: oklch(14.1% 0.005 285.823);
    --border-color: oklch(37% 0.013 285.805);
    --text-color: oklch(96.7% 0.003 264.542);
    --accent-color: oklch(70.7% 0.165 254.624);
    --warning-color: oklch(76.9% 0.188 70.08);
    --danger-color: oklch(63.7% 0.237 25.331);
    --link-color: oklch(74% 0.238 322.16);
    --link-hover: oklch(70.2% 0.183 293.541);
    --muted-text: oklch(70.5% 0.015 286.067);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-color);
    min-height: 100vh;
}

a {
    color: var(--link-color);
    transition: color 0.3s;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    text-decoration: none;
    color: var(--muted-text);
    font-size: 1.3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    color: var(--link-hover);
}
