<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><%= title %></a>
        <div class="links">
          <a href="/file/new">Upload File</a>
          <a href="/logout">Logout</a>
        </div>
      </nav>
    </header>
    <main>
      <%- include('errors') %> <% if (folder) { %>
      <form
        action="/file/new/<%=folder.id%>"
        method="POST"
        enctype="multipart/form-data"
      >
        <label for="file">Upload File</label>
        <input type="file" name="file" class="file-input" required />
        <button type="submit">Upload</button>
      </form>
      <% } else { %>
      <form action="/file/new" method="POST" enctype="multipart/form-data">
        <label for="file">Upload File</label>
        <input type="file" name="file" class="file-input" required />
        <button type="submit">Upload</button>
      </form>
      <%} %>
    </main>
  </body>
</html>
