<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><%= title %></a>
        <div class="links">
          <a href="/file/new">Upload File</a>
          <a href="/logout">Logout</a>
        </div>
      </nav>
    </header>
    <main>
      <% if (folder) { %>
      <form action="/folder/new/<%=folder.id%>" method="POST">
        <label for="folder">Folder Name</label>
        <input type="text" name="folder" required />
        <button type="submit">Create</button>
      </form>
      <% } else { %>
      <form action="/folder/new/" method="POST">
        <label for="folder">Folder Name</label>
        <input type="text" name="folder" required />
        <button type="submit">Create</button>
      </form>
      <% } %>
    </main>
  </body>
</html>
